/* 상세페이지 CSS */
@import url("https://fonts.googleapis.com/css2?family=Gowun+Batang&family=Gowun+Dodum&family=Nanum+Myeongjo&display=swap");

body {
  background-color: rgb(236, 232, 227);
}

.top {
  text-align: center;
  margin: 10px auto 10px auto;
}

.logo {
  width: 80px;
}

.container {
  display: flex;
}

.line {
  width: 100%;
  height: 20px;
  background-color: #3066b8b9;
}

/* 포스터 이미지 구역 - 좌측 사이드 */
.first {
  width: 40%;
  height: 80%;
  text-align: center;
  margin: 20px 20px 20px 20px;
}

/* 포스터 이미지 세부 설정 */
.posterImage {
  width: 80%;

  border-radius: 10px;
  box-shadow: 1px 1px 20px gray;

  padding: 20px 20px;
  background-color: #ffffff2d;
}

/* 정보 및 리뷰 구역 - 우측 사이드 */
.second {
  width: 50%;
  text-align: center;
  margin: 20px 20px 20px 20px;
}

/* 영화 제목 */
.title {
  height: 50px;
  color: #204377;
  background-color: #ffffff2d;

  padding: 20px 20px;
  border: 2px solid #3066b8;
  border-radius: 10px;

  margin: auto auto 20px auto;
}

.title_font {
  font-size: xx-large;
  font-weight: bold;
  font-family: "Gowun Dodum", sans-serif;
  line-height: 1.5;
}

.engTitle_font {
  font-weight: bold;
  font-family: "Gowun Dodum", sans-serif;
  color: #3066b8b7;
}

/* 개봉일 */
.releaseDate {
  font-family: "Gowun Dodum", sans-serif;
  font-weight: bold;

  margin: auto auto 20px auto;
  padding: 10px 20px;
}

/* 장르 */
.genres {
  font-family: "Gowun Dodum", sans-serif;
  font-weight: bold;

  margin: auto auto 20px auto;
  padding: 10px 20px;
}

/* 런타임 */
.runtime {
  font-family: "Gowun Dodum", sans-serif;
  font-weight: bold;

  margin: auto auto 20px auto;
  padding: 10px 20px;
}

/* 평점 */
.voteAverage {
  font-family: "Gowun Dodum", sans-serif;
  font-weight: bold;

  margin: auto auto 20px auto;
  padding: 10px 20px;
}

/* 개봉일 + 장르 + 런타임 + 평점 한줄로 표현 */
.content_top {
  display: flex;
  color: black;
}

/* 출연진 리스트*/
.castList {
  font-family: "Gowun Dodum", sans-serif;

  margin: auto auto 10px auto;
  padding: 10px 20px;
}

/**/
.direct {
  font-family: "Gowun Dodum", sans-serif;

  margin: auto auto 20px auto;
  padding: 10px 20px;
}

/* 줄거리 */
.overview {
  font-family: "Gowun Dodum", sans-serif;
  color: white;
  line-height: 1.5;
}

/* 줄거리 */
.content_bottom {
  background-color: #3066b8b9;

  padding: 20px 20px;
  border: 2px solid #3066b8b9;
  border-radius: 10px;

  margin: auto auto 20px auto;
}

/*리뷰 타이틀 설정*/
.revBox {
  height: 50px;
  width: 100px;
  color: #204377;
  background-color: #ffffff8a;

  border-radius: 10px;
  margin: 20px auto 20px 10px;
}

.reviewTitle {
  font-size: xx-large;
  font-weight: bold;
  font-family: "Gowun Dodum", sans-serif;
  line-height: 1.5;
}

/* 리뷰작성쪽 css */

.reviewBox {
  display: inline-block;
  width: 60%;
}
.readBox {
  width: 40%;
  background-color: blue;
}
.reviewBox p {
  margin: 20px 0;
  display: flex;
  align-items: center;
}
.reviewBox input {
  padding: 10px;
  width: 100px;
}
.reviewBox p label {
  align-items: center;
}
#saveButton {
  height: 39px;
  width: 50px;
  float: right;
  margin-left: 5px;
}
#review {
  display: block;
  width: 100%;
  height: 200px;
}
#reviewForm {
  float: right;
  width: 36%;
  margin-top: 20px;
  background-color: #3066b8b9;
  border-radius: 10px;
  color: white;
}
#reviewForm td {
  padding: 20px;
}
table th {
  padding: 10px;
}
/* 리뷰작성쪽 css */
