/* 메인페이지 CSS */
@import url("https://fonts.googleapis.com/css2?family=Gowun+Batang&family=Gowun+Dodum&family=Nanum+Myeongjo&display=swap");

/* color */
:root {
  --bg-background-color: rgb(236, 232, 227);
  --bg-card-color: #4a724a65;
  --bg-point-color: #3066b8b9;
}

/* header */
header {
  text-align: center;
  margin: 10px auto 10px auto;
}

.logo {
  width: 80px;
}

/* 검색 form */
#search-form {
  width: 100%;
  height: 70px;

  background-color: #3066b8b9;
  display: flex;
  justify-content: center;

  align-items: center;

  font-weight: bold;
  font-family: "Gowun Dodum", sans-serif;
}

.searchDiv {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;

  margin: 30px 0;
  padding: 10px;
  height: 70px;
}

.searchDiv input {
  margin: 0 10px;
  width: 300px;
  border-radius: 5px;
}

/* 카드 정렬하기 button */
.sortBtn {
  width: 150px;
  height: 30px;

  text-align: center;
  margin: 10px 30px;
  float: right;

  font-weight: bold;
  font-family: "Gowun Dodum", sans-serif;
}

.basicBtn {
  border: 0;
  background-color: transparent;
}

.averageBtn {
  border: 0;
  background-color: transparent;
}

/* ul 태그 flex 설정 */
#movieList {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  /* background-color: aquamarine; */
}

/* 카드 세부 CSS */
.movie-card {
  width: 300px;
  padding: 10px auto;

  border-radius: 30px;
  list-style-type: none;
  box-shadow: 1px 1px 20px gray;
  background-color: #ffffff2d;
  margin: 15px auto;
}

/* 카드 상단 이미지/줄거리 */
.cardsTop {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  font-weight: bold;
  font-family: "Gowun Dodum", sans-serif;
}

.cardsTop:hover .imgClass {
  filter: brightness(0.3);
}

/* 영화 포스터 */
.imgClass {
  width: 100%;
  height: 425px;
  border-radius: 30px;
  padding: 10px;

  filter: brightness(1);
  height: 425px;
  transition: filter 0.3s ease;
}

.innerImg {
  position: absolute;
  top: 10%;
  opacity: 0;
  width: 90%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cardsTop:hover .innerImg {
  opacity: 1;
}

.movieOverview {
  text-align: center;
  background-color: white;
  opacity: 0.9;
  border-radius: 30px;
  width: 90%;
  margin: 10px;
}

.movieOverview > h4 {
  margin: 5px auto;
}

.movieOverview > p {
  width: 90%;
  margin: 5px auto;

  /*줄거리 줄 수 제한*/
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 10; /* 라인수 */
  -webkit-box-orient: vertical;
  word-wrap: break-word;
}

/* 포스터 내부 - 버튼 */
.movePageBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#pageBtn {
  width: 150px;
  text-align: center;
  cursor: pointer;
}

/* 카드 하단 제목 및 세부사항 */
.cardsBottom {
  padding: 10px;
  text-align: center;

  font-weight: bold;
  font-family: "Gowun Dodum", sans-serif;
}
