header {
  text-align: center;
  padding: 30px 0;
  background-color: rgb(211, 157, 255);
  margin-top: 30px;
}
.searchDiv {
  display: flex;
  justify-content: center;
  margin: 30px 0;
  height: 30px;
}
.searchDiv input {
  margin: 0 10px;
  width: 300px;
}
.searchDiv label {
  line-height: 30px;
}

#movieList {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  /* background-color: aquamarine; */
}
.imgClass {
  width: 100%;
  border-radius: 30px;
  padding: 10px;
}

.text-wrapper {
  width: 100%;
}

.text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  text-align: justify;
}

.more-text {
  font-size: 16px;
  cursor: pointer;
}

.less-text {
  font-size: 16px;
  cursor: pointer;
  display: none;
}

.movie-card {
  position: relative;
  width: 300px;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
  background-color: rgb(248, 239, 255);
  border-radius: 30px;
}

.movePageBtn {
  width: 150px;
  position: absolute;
  bottom: 15px;
  right: 5px;
}
